*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  position: relative;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html,
body,
#root {
  height: 100%;
}

#root {
  width: min-content;
}

body {
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
